<template>
    <div class="app">
        <div class="container">
            <div class="row">
                <md-card class="todo-card col-lg-6 col-md-8 col-sm-8 col-xs-10">
                    <!-- Card Header -->
                    <md-card-header>
                        <div class="row">
                            <div class="col-8 title">
                                <span class="md-title">{{ days[date.getDay()] }},</span>{{ date.getDate() }}th
                                <div class="md-caption">{{ monthNames[date.getMonth()]}}</div>
                            </div>
                            <div class="col-4 md-caption text-right">{{todosCount}} Tasks</div>
                        </div>
                        <!-- Create Todo button-->
                        <md-button class="md-icon-button md-raised md-accent" v-on:click="createTodo">
                            <md-icon>add</md-icon>
                        </md-button>
                    </md-card-header>
                    <!-- Card content -->
                    <md-card-content>
                        <!-- Scrollable container -->
                        <md-content class="md-scrollbar">
                            <!-- Todo list -->
                            <transition-group name="list" tag="div">
                                <todo-item v-for="todo in todos" v-bind:todo="todo" v-on:todo:delete="deleteTodo"
                                           v-on:todo:edit="editTodo" :key="todo.id"></todo-item>
                            </transition-group>
                        </md-content>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</template>

<!-- Styles -->
<style src="../node_modules/bootstrap/dist/css/bootstrap.min.css"></style>
<style src="../node_modules/vue-material/dist/vue-material.min.css"></style>
<style src="../node_modules/vue-material/dist/theme/default.css"></style>
<style src="./assets/style.scss"></style>

<!-- App.vue functionality -->
<script>
  import TodoItem from './components/TodoItem.vue'

  export default {
    name: 'app',
    computed: {
      todos () {
        return this.$store.getters.getTodos
      },
      todosCount () {
        return this.$store.getters.getTodosCount
      },
    },
    data () {
      return {
        date: new Date(),
        days: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
        monthNames: [
          'January', 'February', 'March', 'April', 'May', 'June',
          'July', 'August', 'September', 'October', 'November', 'December',
        ],
      }
    },
    components: {
      TodoItem,
    },
    methods: {
      /**
       * Create new todo with active state and actual date, and empty text, can be editable instantly
       */
      createTodo () {
        let newTodo = {
          'active': true,
          'text': '',
          'date': new Date().toISOString(),
        }
        this.$store.dispatch('CREATE_TODO', newTodo)
      },

      /**
       * Edit todo instantly
       * @param todo
       */
      editTodo (todo) {
        this.$store.dispatch('EDIT_TODO', todo)
      },

      /**
       * Delete todo
       * @param todo
       */
      deleteTodo (todo) {
        this.$store.dispatch('DELETE_TODO', todo)

      },
    },
    beforeCreate () {
      this.$store.dispatch('GET_TODOS')
    },
  }
</script>
