/*
Animation for todo list
 */

.list-enter-active,
.list-leave-active,
.list-move {
  transition: 200ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transition-property: opacity, transform;
}

.list-enter {
  opacity: 0;
  transform: translateX(50px) scaleY(0.5);
}

.list-enter-to {
  opacity: 1;
  transform: translateX(0) scaleY(1);
}

.list-leave-active {
  position: relative;
}

.list-leave-to {
  opacity: 0;
  transform: translateX(50px) scaleY(0);
  transform-origin: top right;
}