@import "variables";

body {
  background-image: linear-gradient(28deg, $bg_orange 0%, $bg_orange 40%, $bg_blue 40%, $bg_blue 40%);
}

.app {
  .container .row {
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }
}

button {
  outline: none;
  &:focus, &:visited {
    outline: none;
  }
}

.todo-card {
  margin-top: $card-position;
  background: #fff;

  .md-card-header {
    border-bottom: 1px #ccc solid;

    .md-button {
      position: absolute;
      right: 10%;
      margin-top: -4px;
    }
  }

  .md-card-content {
    padding-top: 24px;

    .md-content {
      max-height: 400px;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}

.title {
  color: $title-color;
  .md-title {
    font-weight: 600;
  }
}

.todo-item {
  &.inactive {
    .md-field .md-input {
      text-decoration: line-through;
      -webkit-text-fill-color: $grey;
    }
  }
  .md-field .md-helper-text {
    right: 5px;
    bottom: 5px;
  }
}

@media screen and (max-width: 600px) {
  .todo-card {
    margin-top: 0;
    .md-card-content {
      padding: 24px 0;
      margin: 0 -15px;
    }
  }
}