<template>
    <div class="todo-item container" v-bind:class="{ inactive: !todo.active }">
        <div class="row">
            <md-checkbox class="col-1" @change="editTodo" v-model="todo.active"></md-checkbox>
            <md-field class="col-8">
                <md-input v-model="todo.text" @keyup.stop.prevent="editTodo" autofocus
                          placeholder="What's in your head ?"></md-input>
                <span class="md-helper-text">{{getDate()}}</span>
            </md-field>
            <md-button class="col-1 md-icon-button" v-bind:class="{ 'md-accent': todo.active }"
                       v-on:click="removeTodo">
                <md-icon>delete</md-icon>
            </md-button>
        </div>
    </div>
</template>

<!-- TodoItem.vue functionality -->
<script>
  export default {
    name: 'todo-item',
    props: ['todo'],
    methods: {
      /**
       * Edit todo
       * Provide connection between App.vue and the item
       */
      removeTodo () {
        this.$emit('todo:delete', this.todo)
      },

      /**
       * Edit todo
       * Provide connection between App.vue and the item
       */
      editTodo () {
        this.$emit('todo:edit', this.todo)
      },
      /**
       * Get the date string for the current todo item
       * @returns {string}
       */
      getDate () {
        let date = new Date(this.todo.date)
        return `${date.getHours()}:${String(date.getMinutes()).padStart(2, '0')}`
      },
    },
  }
</script>